.button1,
.button2 {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}

.button1 {
    background-color: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
}

.button2 {
    background-color: hsl(59, 100%, 50%);
}